<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">{{ _('API Key') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.NotifyProwl.apikey">
		</div>
	</div>
</form>
